@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.button {
  display: flex;
  flex: 1 1 auto;
  padding: 2 * $spacing-base 3 * $spacing-base;
  flex-direction: row;
  align-items: center;

  font-family: Montserrat;
  font-size: 1.125rem;
  text-decoration: none;

  border-radius: $border-radius-base;
  border-bottom: 2px solid;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    padding: 1.5 * $spacing-base 2 * $spacing-base;
  }
}

.defaultButton {
  composes: button;

  color: $color-text-on-secondary;

  border-bottom-color: darken($color-secondary, 10%);
  background: linear-gradient(to bottom, $color-secondary, darken($color-secondary, 3%));

  &:hover {
    background: linear-gradient(to bottom, darken($color-secondary, 3%), darken($color-secondary, 6%));
  }
}

.primaryButton {
  composes: button;

  color: $color-text-on-primary;

  border-bottom-color: darken($color-primary, 10%);
  background: linear-gradient(to bottom, $color-primary, darken($color-primary, 3%));

  &:hover {
    background: linear-gradient(to bottom, darken($color-primary, 3%), darken($color-primary, 6%));
  }
}

.onPrimaryButton {
  composes: button;

  color: $color-text-default;

  border-bottom-color: darken(white, 13%);
  background: linear-gradient(to bottom, white, darken(white, 5%));
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);

  &:hover {
    background: linear-gradient(to bottom, darken(white, 5%), darken(white, 10%));
  }
}

.center {
  align-self: center;
}

.label {
  flex: 1 1 auto;
}

.icon {
  flex: 0 0 auto;
  margin-left: 0.5rem;

  font-size: 1.25rem;
}
