@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.button {
  flex: 1 1 auto;
  padding: 2 * $spacing-base 3 * $spacing-base;
  flex-direction: row;
  align-items: center;

  font-family: Montserrat;
  font-size: 1.3rem;
  text-decoration: none;

  border-radius: $border-radius-base;
  border-bottom: 2px solid;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    padding: 1.5 * $spacing-base 2 * $spacing-base;
    font-size: 1.12rem;
  }
}

.defaultButton {
  composes: button;

  color: $color-text-on-secondary;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);

  border-bottom-color: darken($color-secondary, 10%);
  background: linear-gradient(to bottom, $color-secondary, darken($color-secondary, 3%));

  &:hover {
    background: linear-gradient(to bottom, darken($color-secondary, 3%), darken($color-secondary, 6%));
  }
}

.primaryButton {
  composes: button;

  color: $color-text-on-primary;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);

  border-bottom-color: darken($color-primary, 10%);
  background: linear-gradient(to bottom, $color-primary, darken($color-primary, 3%));
  //box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);

  &:hover {
    background: linear-gradient(to bottom, darken($color-primary, 3%), darken($color-primary, 6%));
  }
}

.center {
  align-self: center;
}
