@import '../styles/variables.scss';

.number {
  margin-bottom: 0.5 * $spacing-base;

  font-size: 1.1rem;
  color: $color-text-muted;
}

.title {
  font-size: 1.9rem;
}

.choiceGrid {
  margin: 2 * $spacing-base (-$spacing-base) (-$spacing-base);


  flex-direction: row;
  flex-wrap: wrap;
}

.choiceItem {
  margin: $spacing-base;
}
