@import './variables.scss';

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700');

html {
  height: 100%;

  font: 400 16px Lato;
}

body {
  margin: 0;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  background: $color-background;
  color: $color-text-default;
}

* {
  -webkit-tap-highlight-color: transparent;
}

div, span, .block {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

:global(#root) {
  height: 100%;
}
