$spacing-base: 0.5rem;
$border-radius-base: 3px;

$color-background: #ffffff;
$color-primary: #1098f7;
$color-secondary: #eeeeee;

$color-text-default: #222222;
$color-text-muted: #808080;
$color-text-on-primary: #ffffff;
