$spacing-base: 0.5rem;
$border-radius-base: 3px;

$breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$color-background: #FFFFFF;
$color-primary: #15BEC6;
$color-secondary: transparentize(#dddddd, 0.5);

$color-text-default: #38434F;
$color-text-muted: lighten($color-text-default, 30%);
$color-text-on-primary: #ffffff;
$color-text-on-secondary: transparentize($color-text-default, 0.15);
