{% extends 'layout.twig' %}

{% block title %}OddSpot{% endblock %}

{% block content %}
  <div id="root"></div>
{% endblock %}

{% block scripts %}
  <script>window.INITIAL_DATA = {{ initialData|json_encode()|raw }};</script>
  <script src="{{ assetsBase }}/client.bundle.js"></script>
{% endblock %}
