@import '../styles/variables';

.result {
  margin-bottom: $spacing-base * 3;

  &:last-child {
    margin-bottom: 0;
  }
}

.dummy {
  margin-bottom: $spacing-base * 2;
  text-align: center;
  color: #bbb;
}
