div.answers .small {
	width: 100px;
}
div.answers .large {
	width: calc(100% - 240px - .4em);
}
div.answers .answer [type=button] {
	width: 140px;
}

div.answers :last-child {
	margin-right: 0;
}
div.answers .deleted {
	display: none;
}
