.smartInput {
  /* for tooltip */
  position: relative;
  display: inline-block;
}
.smartInput.full {
  display: block;
}
.smartInput input {
  width: 100%;
}
.smartInput p:first-of-type {
  margin-bottom: 0.2em;
  color: rgba(37, 37, 37, 0.6);
}

/*.smartInput input:not([type=button]):not([type=checkbox]):not([type=file]) {
	border: 1px solid #bdc3c7;
}*/

.smartInput.changed.error:not(.pristine) input {
  border-color: #e74c3c !important;
}

.smartInput.error p.error:not(:empty) {
  position: absolute;
  bottom: calc(.5rem + 2px);
  right: 10px;
  overflow: hidden;
  z-index: 1;

  background: #e74c3c;
  color: #ecf0f1;

  width: 0;
  height: 0;
  padding: 6px;
  margin: -6px;
  border-radius: 6px;
}
.smartInput.error p.error:not(:empty):before {
  content: "!";
  display: block;

  border-radius: 6px;
  font-size: 10px;
  margin: -.5em 1em 1em -1px;
}
.smartInput.error:hover p.error:not(:empty) {
  top: calc(100% + 12px);
  left: 6px;
  bottom: auto;
  right: auto;
  width: auto;
  height: auto;
  display: table;
  overflow: auto;

  padding: 6px 12px;
  border-radius: 3px;

  font-size: .7rem;
}
.smartInput.error:hover p.error:not(:empty):before {
  content: "";
  position: absolute;
  bottom: 100%;

  width: 0;
  height: 0;
  margin: 0 0 -1px 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #e74c3c transparent;
}

/* STYLING */
input[type="button"] {
  background: #15BEC6;
  color: #fff;
  padding: 0 1.5em;
  margin: 1em 1em 4px 0;
  line-height: 2.15em;
  display: inline-block;
  border: 1px solid #3498db;
  box-shadow: inset 0 1px 3px #bbb;
  border-radius: 2px;
  min-width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="button"].inline {
  margin: 0 0 0 1.5em;
}

.smartInput input[type="text"],
.smartInput input[type="number"],
.smartInput select  {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.smartInput.error input,
.smartInput.error textarea,
.smartInput.error select {
  color: #b94a48;
  border-color: #e9322d;
}

.smartInput select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

label.smartInput {
  vertical-align: bottom;
  margin: 1em 0 4px;
}
label:not(.full) + label:not(.full),
label:not(.full) + input {
  margin-left: 0.2em;
}

.smartInput pre {
  font-family: monospace;
}
.smartInput small {
  font-size: 0.9em;
}
